<nav class="navbar navbar-expand">
  <ul class="nav nav-bar">
    <li class="nav-item">
      <a routerLink="" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="group" class="nav-link">Group</a>
    </li>
    <li class="nav-item">
      <a routerLink="standalone" class="nav-link">Standalone</a>
    </li>
  </ul>
</nav>
<!-- <app-alert [message]="error" (showErr)="closeErr()"></app-alert>
 -->

 <app-alert2></app-alert2>
<button class="btn btn-outline-danger" (click)="onErr()">Add Error</button>
<router-outlet></router-outlet>